html{
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: 'Merriweather', serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  color: black;
}
.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.galery{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.garis{
  width: 7%;
  border-style: solid;
  color: #140303;
}

.mark{
  color: #2484bb;
  font-weight: bold;
  font-style: italic;
}

.top-wrapper {
  padding: 180px 0 180px 0;
  background-image: url('../img/bg22.jpg');
  background-size: cover;
  color: black;
  text-align: center;

  position:relative;
  opacity:0.80;
  background-position:center;
  background-repeat:no-repeat;
  /*
    fixed = parallax
    scroll = normal
  */
  background-attachment:normal;
  font-family: 'Bitter', serif;
}

.top-wrapper h1 {
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper p {
  margin-bottom: 3px;
}

.btn-wrapper {
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.signup {
  background-color: #239b76;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter {
  background-color: #55acee;
}

.submit{
  background-color:crimson;
}
.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(74, 105, 164, 0);
  position:absolute;
  z-index: 10;
}

.logo {
  width: 124px;
  margin-top: 10px;
}

.header-left {
  float: left;
}

.header-right {
  background-color: rgba(73, 35, 0, 0);
  transition: all 0.5s;
}

.header-right a {
  float: right;
  padding: 15px 20px;
  color: whitesmoke!important;
}

.header-right a:hover {
  color: #3b5998;
}

.section-dark{
  background-color:#282e34;
  color:#ddd;
}

.lesson-wrapper {
  height: 500px;
  padding-bottom: 80px;
  background-color: #f7f7f7;
  text-align: center;
}

.lessons {
  transform: translateY(200px);
}

.lessons-animasi{
  animation-name: test;
  animation-duration: 2000ms;
  animation-fill-mode: forwards;
}

@keyframes test{
  0%{
    transform: translateY(200px);
  }
  100%{
    transform: translateY(0);
  }
}

.heading1 {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #160402;
}

.heading2 {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #ffffff;
}

.heading h2 {
  font-weight:bolder;
  text-decoration: underline;
}

.lesson {
  float: left;
  width: 25%;
}

.lesson-icon {
  position: relative;
  transition: transform .5s;
}

.des, .lesson-icon:hover{
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2); 
  color: #3b5998;
  font-weight: bold;
  text-decoration: underline;
  z-index: 1000;
}

#root {
  overflow: 'scroll';
}

.lesson-icon p {
  position: absolute;
  top: 90px;
  width: 100%;
  color: white;
}

.txt-contents {
  width: 80%;
  display: inline-block;
  margin-top: 20px;
  font-size: 15px;
  color: #5f5e5e;
  font-size: 12px;
}

.heading h3 {
  font-weight: normal;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
  background-image:url('../img/bg4.jpg');
  min-height:400px;

  position:relative;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  /*
    fixed = parallax
    scroll = normal
  */
  background-attachment:fixed;
}

.message-wrapper2 {
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  text-align: center;
  background-color: #282e34;

}

.message {
  padding: 15px 40px;
  background-color: #053949;
  cursor: pointer;
  box-shadow: 0 5px #040e22;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

iframe{
  width: 700px;
  height: 400px;
}

.contact-none{
  opacity: 0;
  background-color: #ffffff;
}

.contact-form {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  transform: translateX(-200px);
  animation-name: test2;
  animation-duration: 2000ms;
  animation-fill-mode: forwards;
}

@keyframes test2{
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}

/* Add CSS for <input> and <textarea> tags */
input, textarea{
  width:300px;
  margin-top:10px;
  margin-bottom:30px;
  padding:20px;
  font-size:18px;
  border: 1px solid #dee7ec;
}


.footer {
  height: 120px;
  padding: 20px;
  background-color: #4f72ad;
  background-image: linear-gradient(#C3C6CD, #4f72ad );
}

.footer-logo {
  float: left;
  padding: 30px;
}

.footer-list {
  float: right;
  margin-right: 30px;
}

.footer-list li {
  padding-bottom: 15px;
}
